<div id="<%= dom_id cliente %>">
  <img src="<%= @cliente.profile_url %>" alt="Cliente Profile Photo" class="border border-gray-700 h-36 w-36 object-cover rounded-full">
  <div class="mt-4">
    <h2 class="text-lg font-semibold text-gray-800"><%= @cliente.nome %></h2>
    <p class="text-gray-600"><strong>CPF:</strong> <%= @cliente.cpf %></p>
    <p class="text-gray-600"><strong>CNH:</strong> <%= @cliente.cnh %></p>
  </div>
</div>
