<% content_for :titulo do %>
  <span>
    Cliente
  </span>
<% end %>

<% content_for :new_button do %>
  <%= link_to "Novo cliente", new_cliente_path, class: btn_primary %>
<% end %>

<div class="m-auto flex flex-col justify-between items-center bg-white shadow-lg rounded-lg overflow-hidden max-w-xl p-6">

  <%= render @cliente %>

  <div class="flex justify-evenly gap-4 mt-4">
    <%= link_to "Editar", edit_cliente_path(@cliente), class: btn_primary %>
    <%= button_to "Deletar", @cliente, method: :delete, class: btn_danger, data: { confirm: "Tem certeza?", turbo_confirm: "Tem certeza que deseja deletar esse cliente?" } %>
  </div>
  <%= link_to "Voltar para clientes", clientes_path, class: btn_simple %>
</div>
