<% content_for :titulo do %>
  <span>
    Editar cadastro
  </span>
<% end %>

<% content_for :new_button do %>
  <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: btn_danger %>
<% end %>

<div class="m-auto flex flex-col justify-between items-center bg-white shadow-lg rounded-lg overflow-hidden max-w-2xl p-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="p-8 grid grid-cols-2 gap-x-6 gap-y-8 sm:grid-cols-6">

      <div class="sm:col-span-3">
        <%= f.label :nome, class: input_label %>
        <div class="mt-2">
          <%= f.text_field :nome, class: input_text %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :foto, class: input_label %>
        <div class="mt-2">
          <%= f.text_field :foto, class: input_text %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :email, class: input_label %>
        <div class="mt-2">
          <%= f.email_field :email, autocomplete: "email", class: input_text %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="sm:col-span-3">
        <div class="flex justify-between gap-2">
          <%= f.label :password, class: input_label %>
          <% if @minimum_password_length %>
            <em class="text-sm font-medium leading-6 text-gray-900">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <div class="mt-2">
          <%= f.password_field :password, autocomplete: "new-password", class: input_text %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :password_confirmation, class: input_label %>
        <div class="mt-2">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_text %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= f.label :current_password, class: input_label %>
        <div class="mt-2">
          <%= f.password_field :current_password, autocomplete: "current-password", class: input_text  %>
        </div>
      </div>

    </div>
    <div class="actions w-100 flex justify-end my-8 mr-7">
      <div class="actions">
        <%= f.submit "Atualizar cadastro", class: btn_primary %>
      </div>
    </div>
  <% end %>
</div>
