<div id="<%= dom_id aluguel %>">
  <div class="flex justify-around gap-4">
    <p>
      <strong>Data Inicio:</strong>
      <%= date_format_br aluguel.data_inicio %>
    </p>

    <p>
      <strong>Data fim:</strong>
      <%= date_format_br aluguel.data_fim %>
    </p>

    <p>
      <strong>Valor pago:</strong>
      <%= currency_format_brl aluguel.valor_pago %>
    </p>
  </div>
  <div class="m-auto flex flex-row justify-evenly items-center bg-gray-800 shadow-lg rounded-lg overflow-hidden p-6 gap-3 mt-4">
    <%# render do cliente %>
    <div>
      <h2 class="text-lg font-semibold text-gray-200 flex justify-center">Cliente</h2>
      <%= link_to aluguel.cliente.nome, cliente_path(aluguel.cliente), class: btn_simple %>
    </div>
    <div class="h-[4rem] bg-slate-500 w-[1px]"></div>
    <%# render do veículo %>
    <div>
      <h2 class="text-lg font-semibold text-gray-200 flex justify-center">Veículo</h2>
      <%= link_to aluguel.veiculo, veiculo_path(aluguel.veiculo), class: btn_simple %>
    </div>
  </div>
</div>
