<div id="<%= dom_id aluguel %>">
  <p>
    <strong>Cliente:</strong>
    <%= aluguel.cliente.nome %>
  </p>

  <p>
    <strong>Veiculo:</strong>
    <%= aluguel.veiculo %>
  </p>

  <p>
    <strong>Data Inicio:</strong>
    <%= aluguel.data_inicio.to_formatted_s(:short) %>
  </p>

  <p>
    <strong>Data Fim:</strong>
    <%= aluguel.data_fim.to_formatted_s(:short) %>
  </p>

  <p>
    <strong>Valor Pago:</strong>
    <%= number_to_currency(aluguel.valor_pago, :unit => "R$ ", :separator => ",", :delimiter => ".") %>
  </p>

  <%# number_to_currency(client.payment, :unit => "$")  %>

</div>
