<div id="<%= dom_id aluguel %>">
  <p>
    <strong>Cliente:</strong>
    <%= aluguel.cliente.nome %>
  </p>

  <p>
    <strong>Veiculo:</strong>
    <%= aluguel.veiculo.modelo %>
  </p>

  <p>
    <strong>Data Inicio:</strong>
    <%= aluguel.data_inicio.strftime "%d/%m/%Y"  %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= aluguel.data_fim.strftime "%d/%m/%Y" %>
  </p>

  <p>
    <strong>Valor ago:</strong>
    <%= number_to_currency(aluguel.valor_pago, :unit => "R$ ", :separator => ",", :delimiter => ".") %>
  </p>
</div>
