<div class="m-auto flex flex-col justify-between items-center bg-white shadow-lg rounded-lg overflow-hidden max-w-xl p-4 mt-4">
  <%= form_with(model: @veiculo) do |form| %>
    <div class=" pb-8">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

        <%# marca %>
        <div class="sm:col-span-3">
          <%= form.label :marca, class: input_label %>
          <div class="mt-2">
            <%= form.text_field :marca, class: input_text %>
          </div>
        </div>

        <%# modelo %>
        <div class="sm:col-span-3">
          <%= form.label :modelo, class: input_label %>
          <div class="mt-2">
            <%= form.text_field :modelo, class: input_text %>
          </div>
        </div>

        <%# placa %>
        <div class="sm:col-span-3">
          <%= form.label :placa, class: input_label %>
          <div class="mt-2">
            <%= form.text_field :placa, class: input_text %>
          </div>
        </div>

        <%# cor %>
        <div class="sm:col-span-3">
          <%= form.label :cor, class: input_label %>
          <div class="mt-2">
            <%= form.text_field :cor, class: input_text %>
          </div>
        </div>

        <%# chassi %>
        <div class="sm:col-span-3">
          <%= form.label :chassi, class: input_label %>
          <div class="mt-2">
            <%= form.text_field :chassi, class: input_text %>
          </div>
        </div>
      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <%= link_to "Cancelar", veiculos_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
        <%= form.submit 'Salvar', class: btn_primary %>
      </div>

      <% if veiculo.errors.any? %>
        <div class="flex flex-col justify-between items-center text-red-500 px-4 py-2 rounded-lg mb-4">
          <strong><%= pluralize(veiculo.errors.count, "error") %> </strong>

          <ul>
            <% veiculo.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
