<% content_for :titulo do %>
  <span>
    Veículos
  </span>
<% end %>

<% content_for :new_button do %>
  <%= link_to "Novo veículo", new_veiculo_path, class: btn_primary %>
<% end %>

<div id="veiculos" class="w-full overflow-hidden rounded-lg shadow-lg">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="w-full text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-100 "
        >
          <th class="p-4 w-1/7 divide-x">Marca</th>
          <th class="p-4 w-1/7 divide-x">Modelo</th>
          <th class="p-4 w-1/7 divide-x">Placa</th>
          <th class="p-4 w-1/7 divide-x">Chassi</th>
          <th class="p-4 w-1/7 divide-x">Cor</th>
          <th class="p-4 w-2/7 divide-x flex justify-center">Ações</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y">
        <% @veiculos.each do |veiculo| %>
          <tr class="text-gray-700">
            <td class="p-6"><%= veiculo.marca %></td>
            <td class="p-3"><%= veiculo.modelo %></td>
            <td class="p-3"><%= veiculo.placa %></td>
            <td class="p-3"><%= veiculo.chassi %></td>
            <td class="p-3"><%= veiculo.cor %></td>
            <td class="py-3">
              <div class="flex items-center justify-center space-x-2">
                <%= link_to "Ver veiculo", veiculo, class: btn_simple %>
                <%= link_to "Editar", edit_veiculo_path(veiculo.id), class: btn_secondary %>
                <%= button_to "Deletar", veiculo_path(veiculo), method: :delete, data: { confirm: "Tem certeza?", turbo_confirm: "Tem certeza que deseja deletar esse veiculo?" }, class: btn_danger %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
